
main{
    background-color:blueviolet;
    width: 1000px;
    margin: auto;
    height: 200px;

}
header{
  background-color:rgb(141, 38, 214) ;
    height: 150px;
}

nav{

    background: rgb(18, 195, 240);
    width: 25%;
}

section{
    background-color: rgb(74, 6, 153);
        width: 50%;
    }

aside{
    background-color: darkmagenta;
    width: 25%;
}



footer{
    clear: both;
    background-color: rgb(177, 63, 177);
    height: 150px;
}
nav,aside,section{
    float: left;
    height: 300px;
}
